@{
    ViewData["Title"] = "Accounts home";
}

<article>
    <h1>Account Infos</h1>
    <p>
        Running it for
        @ViewData["AccountID"]
    </p>
    @for(var i = 0; i < (int)ViewData["AccountID"]; i++) {
        <p>Running it for account id @i</p>
    }
</article>
