@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div class="container">
        <div class="col-md-12">
            View all accounts <a asp-action="index" asp-controller="Account" class="">here</a>.
        </div>
    </div>
</div>
